@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="text"],
input[type="password"],
input[type="email"],
input[type="FirstName"],
input[type="LastName"],
input[type="number"],
input[type="tel"],
textarea {
  @apply w-full border my-2 py-2 px-3 rounded-xl;
}

textarea {
  height: 200px;
}

button {
  @apply bg-gray-500;
}
button.primary {
  background-color: #2596be;
  @apply bg-primary p-2 w-full rounded-full text-white;
}

.lower-text {
  margin-top: 30px; /* Correct syntax for top margin */
}
@media (max-width: 931px) {
  .custom-hidden {
    display: none;
  }
}
